<h1>New plan</h1>

<% form_for(@plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :advertiser_name %><br />
    <%= f.text_field :advertiser_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', plans_path %>